

/* Mobil version starter */

body {
	background-color: #746A6A;
}

table {
	border-collapse: collapse;
	width: 70%;
	background-color: #383434;
	color: white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
    padding: 20px;
    height: 150px;
	margin-top: 30px;
	margin-bottom: 30px;
}


th {
	
	background-color: #A2A2A2;
	border-radius: 25px 25px 0px 0px;
	
}


th, td {
 	padding: 8px;
 	text-align: left;
 	border-bottom: 1px solid #ddd;
	padding-left: 20px;
	padding-right: 20px;
	
}

.sidste {
	border-bottom: hidden;
}

.procent {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Desktop version starter */  


@media (min-width: 700px) {
 
	article{
		display: grid;
		grid-template-rows: none;
		grid-template-columns: 12; 
	}

.tabel1 {
    grid-column: col-start 2 / span 4;
	grid-row: 3 / 5;
  }

.tabel2 {
    grid-column: col-start 6 / span 3;
	grid-row: 3 / 4; 
  }

.tabel3 {
    grid-column: col-start 9 / span 3;
	grid-row: 3 / 4;
  }

.tabel4 {
    grid-column: col-start 6 / span 3;
	grid-row: 4 / 5;
  }

.tabel5 {
    grid-column: col-start 9 / span 3;
	grid-row: 4 / 5;
  }

.tabel6 {
    grid-column: col-start 2 / span 4;
	grid-row: 5 / 6;
	
  }
	
.tabel6 tbody
	{border-style: dotted;
	
	}
	
.active {
  background-color: black;
  color: white;
}
	
	